/.gradle/
/.idea
/app/
/lib_mediaplayer_ui/
/lib_mediaplayer_exoplayer*
/lib_mediaplayer_ffplayer*
/lib_mediaplayer_vlcplayer*
/lib_mediaplayer_mediaplayer*

#ijk
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_mini/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_mini/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_lite/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_lite/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86_64/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86_64/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86_64/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86_64/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/src/main/cpp/ffmpeg/x86_64/lib/libswscale.a

/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_mini/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_mini/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_lite/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_lite/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/build/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/armeabi-v7a/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/arm64-v8a/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86/lib/libswscale.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86_64/lib/libavcodec.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86_64/lib/libavformat.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86_64/lib/libavutil.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86_64/lib/libswresample.a
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/src/main/cpp/ffmpeg/x86_64/lib/libswscale.a