# Project exclude paths
/.gradle/
/.idea
/app/build
/app/release/
/lib_mediaplayer_ui/build
/lib_mediaplayer_ui_plus/build
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4/.cxx/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4/build/
/lib_mediaplayer_ffplayer_ff4.0_full/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.12_full/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4/
/lib_mediaplayer_ijkplayer_k0.8.8_ff4.4.4_full/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.8_full/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.12/
/lib_mediaplayer_exoplayer_r2.18.7_full/
/lib_mediaplayer_ffplayer_ff3.4.12_full/
/lib_mediaplayer_ffplayer_ff3.4.12/
/lib_mediaplayer_exoplayer_r2.19.0_full/
/lib_mediaplayer_exoplayer_r2.19.0/
/lib_mediaplayer_exoplayer_r2.19.1_full/
/lib_mediaplayer_exoplayer_r2.19.1/
/lib_mediaplayer_mediaxplayer_common/
/lib_mediaplayer_mediaxplayer_r1.2.0/
/lib_mediaplayer_mediaxplayer_r1.2.0_full/
/lib_mediaplayer_exoplayer_r2.18.6_full/
/lib_mediaplayer_exoplayer_r2.18.6/
/lib_mediaplayer_exoplayer_r2.18.7/

# ijk
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_full/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_lite/
/lib_mediaplayer_ijkplayer_k0.8.8_ff3.4.13_mini/
